
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadPartial")

<body>
    @await Component.InvokeAsync("_NavbarPartial")

    <!-- END nav -->

    @await Component.InvokeAsync("_HomePagePartial")


    @await Component.InvokeAsync("_IntroPartial")


    @await Component.InvokeAsync("_AboutPartial")



    @await Component.InvokeAsync("_ServicePartial")



    @await Component.InvokeAsync("_MenuPartial")




    @await Html.PartialAsync("/Views/SendMessage/SendMessage.cshtml")


    

    <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">mimoza kebap salonu</h2>
                        <p>
                            İddia ediyoruz Manisa’nın en iyisiyiz! Yoksa siz hala denemediniz mi ?
                            Lahmacun, pide, pizza, kebap ne ararsan Mimoza Kebap’ta!

                            Gizli tariflerimiz, eşsiz baharatlarımız ve tabi ki alanında en iyi ustalarımızla, tarif edemeyeceğimiz lezzetler ortaya koyuyoruz. Her zaman en iyisi için çalışıyoruz.

                            Çünkü sizler en iyisine layıksınız!
                        </p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="https://www.facebook.com/mimozapidesalonu/"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/mimozakebap/"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">sorunuz mu var?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">şehitler mahallesi 723 sk. 10/c, yunusemre/manisa</span></li>
                                <li><a href="tel:05558781775"><span class="icon icon-phone"></span><span class="text">0 555 878 1775</span></a></li>
                                <li><a href="mailto:mimozakebap@gmail.com"><span class="icon icon-envelope"></span><span class="text">mimozakebap@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
     
                                                     copyright &copy;
    <script>document.write(new date().getfullyear());</script> tüm hakları saklıdır. | developer <i class="icon-heart" aria-hidden="true"></i> by <a href="https://github.com/devburakfiliz" target="_blank">Burak Filiz</a>
    
    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/Mimozaui/js/jquery.min.js"></script>
    <script src="~/Mimozaui/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Mimozaui/js/popper.min.js"></script>
    <script src="~/Mimozaui/js/bootstrap.min.js"></script>
    <script src="~/Mimozaui/js/jquery.easing.1.3.js"></script>
    <script src="~/Mimozaui/js/jquery.waypoints.min.js"></script>
    <script src="~/Mimozaui/js/jquery.stellar.min.js"></script>
    <script src="~/Mimozaui/js/owl.carousel.min.js"></script>
    <script src="~/Mimozaui/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Mimozaui/js/aos.js"></script>
    <script src="~/Mimozaui/js/jquery.animateNumber.min.js"></script>
    <script src="~/Mimozaui/js/bootstrap-datepicker.js"></script>
    <script src="~/Mimozaui/js/jquery.timepicker.min.js"></script>
    <script src="~/Mimozaui/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Mimozaui/js/google-map.js"></script>
    <script src="~/Mimozaui/js/main.js"></script>

</body>
</html>