@model UpdateChefDto
@{
    ViewData["Title"] = "UpdateChef";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<form method="post">
    <input type="hidden" asp-for="ChefID" />
    <label>Çalışan Ünvanı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <label>İsim Soyisim</label>
    <input type="text" asp-for="FullName" class="form-control" />
    <label>Açıklama</label>
    <input  type="text" asp-for="Description" class="form-control" />
    <label>Çalışan Resmi</label>
    <input type="text" asp-for="Image" class="form-control" />

    <br />
    <button class="btn btn-outline-success">Projemi Güncelle</button>
</form>
