<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/AdminHomePage/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">AnaSayfa</span>
                </a>
            </li>

            <li>
                <a href="/AdminContact/Inbox" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-pencil menu-icon"></i><span class="nav-text">Hakkımda</span>
                </a>
            </li>
            <li>
                <a href="/AdminChef/Index" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Çalışanlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminService/Index/" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Hizmetlerimiz</span>
                </a>
            </li>
            <li>
                <a href="/AdminSocial/Index/" aria-expanded="false">
                    <i class="icon-share menu-icon"></i><span class="nav-text">Sosyal Medya</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-add menu-icon"></i><span class="nav-text">Yemekler</span>
                </a>
                <ul aria-expanded="false">

                    <li>
                        <a href="/AdminFood/Index/" aria-expanded="false">
                            <i class="icon-star menu-icon"></i><span class="nav-text">Pideler</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminFood2/Index/" aria-expanded="false">
                            <i class="icon-star menu-icon"></i><span class="nav-text">Kebaplar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminFood3/Index/" aria-expanded="false">
                            <i class="icon-star menu-icon"></i><span class="nav-text">Pizzalar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminFood4/Index/" aria-expanded="false">
                            <i class="icon-star menu-icon"></i><span class="nav-text">Dürümler</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminFood5/Index/" aria-expanded="false">
                            <i class="icon-star menu-icon"></i><span class="nav-text">Güveçler</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
