<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-pencil menu-icon"></i><span class="nav-text">Hakkımda</span>
                </a>
            </li>
            <li>
                <a href="/AdminChef/Index" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Çalışanlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminFood/Index/" aria-expanded="false">
                    <i class="icon-drawar menu-icon"></i><span class="nav-text">Pideler</span>
                </a>
            </li>
            <li>
                <a href="/AdminFood2/Index/" aria-expanded="false">
                    <i class="icon-arrows-deny menu-icon"></i><span class="nav-text">Kebaplar</span>
                </a>
            </li>
            <li>
                <a href="/AdminFood3/Index/" aria-expanded="false">
                    <i class="note-icon-circle menu-icon"></i><span class="nav-text">Pizzalar</span>
                </a>
            </li>
            <li>
                <a href="/AdminFood4/Index/" aria-expanded="false">
                    <i class="note-icon-circle menu-icon"></i><span class="nav-text">Güveçler</span>
                </a>
            </li>
            <li>
                <a href="/AdminFood5/Index/" aria-expanded="false">
                    <i class="note-icon-circle menu-icon"></i><span class="nav-text">Dürümler</span>
                </a>
            </li>


        </ul>
    </div>
</div>