<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-pencil menu-icon"></i><span class="nav-text">Hakkımda</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/Inbox" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminSkill/Index/" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">Yeteneklerim</span>
                </a>
            </li>
            <li>
                <a href="/AdminProject/Index/" aria-expanded="false">
                    <i class="icon-action-redo menu-icon"></i><span class="nav-text">Projelerim</span>
                </a>
            </li>
        </ul>
    </div>
</div>