@model List<ResultSocialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}




<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Sosyal Medya Adı</th>
        <th>Sosyal Medya Linki</th>
        <th>Sosyal Medya iconu</th>


        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th> @item.SocialID</th>
            <td> @item.Name</td>
            <td> @item.Link</td>
            <td> @item.Icon</td>


            <td> <a href="/AdminSocial/UpdateSocial/@item.SocialID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
        </tr>

    }
</table>
