@model UpdateHomePageDto
@{
    ViewData["Title"] = "UpdateHomePage";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}



<form method="post">
    <input type="hidden" asp-for="HomePageID" />
    <label>Başlık</label>
    <input type="text" asp-for="HomePagetTitle" class="form-control" />
    <label>Resim</label>
    <input type="text" asp-for="HomePageImage" class="form-control" />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />


    <br />
    <button class="btn btn-outline-success">Güncelle</button>
</form>
