
@model List<ResultHomePageDto>

<section id="section_1" class="home-slider owl-carousel img" style="background-image: url(../MimozaUi/images/bg_1.jpg);">

   

        @foreach (var item in Model)
        {


            <div class="slider-item">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text align-items-center" data-scrollax-parent="true">

                        <div class="col-md-6 col-sm-12 ftco-animate">
                            <span class="subheading">Mimoza</span>
                            <h1 class="mb-4">@item.HomePagetTitle</h1>
                            <p class="mb-4 mb-md-5">@item.Description</p>

                        </div>
                        <div class="col-md-6 ftco-animate">
                            <img src="@item.HomePageImage" class="img-fluid" alt="">
                        </div>

                    </div>
                </div>
            </div>

        }
        </section>